<div class="app-container">
  <div class="case-input">
    <div>
      Text to search
    </div>
    <div [formGroup]="form">
      <input formControlName="search" class="form-control" placeholder="Enter any text" />
    </div>
  </div>
  
  <div class="case-control">  
    <button type="button" class="btn btn-primary" (click)="showComponent()">
      Show Component
    </button>
    <button type="button" class="btn btn-secondary"  (click)="hideComponent()">
      Hide Component
    </button>
  </div>

  <div class="case-container">
    <div>
      <div class="case-header">
        Example 1: Subscribing from the beginning
      </div>

      <div class="case-result">
        <div>Search result</div>
        <ul class="list-group">
          <li *ngFor="let result of exampleResult$ | async" class="list-group-item">
            {{ result }}
          </li>
        </ul>
      </div>
    </div>

    <div>
      <div class="case-header">
        Example 2: Late subscriber
      </div>

      <div *ngIf="isComponentVisible" class="case-result">
        <div>Search result</div>
        <ul class="list-group">
          <li *ngFor="let result of exampleResult$ | async" class="list-group-item">
            {{ result }}
          </li>
        </ul>
      </div>
    </div>

    <div>
      <div class="case-header">
        Example 3: Late subscriber with defer
      </div>

      <div *ngIf="isComponentVisible" class="case-result">
        <div>Search result</div>
        <ul class="list-group">
          <li *ngFor="let result of exampleDeferResult$ | async" class="list-group-item">
            {{ result }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>