.app-container {
  padding: 1rem;

  .case-input {
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
  }

  .case-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 1rem;
    gap: 0.5rem;
  }

  .case-header {
    text-align: center;
  }

  .case-result {
    text-align: center;
  }

  .case-control {
    text-align: center;
    margin-top: 1rem;
  }
}
